
appsettings.json
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
connectionstrings.json
Properties/launchSettings.json

node_modules/
.npm/
wwwroot/css/site.css
wwwroot/css/*.map

*.mdf
*.ldf
*.ndf
*.dbmdl

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Tt]emp/
[Tt]mp/
publish/
out/
artifacts/

project.lock.json
project.fragment.lock.json
*.nupkg
*.snupkg
*.appx
*.appxbundle
*.appxupload

.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.opendb
*.VC.db

.idea/
*.iws
*.iml
Rider.Backend.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

*.pdb
*.dll
*.exe
*.cache
*.o
*.obj
*.ilk
*.exp
*.lib

*.log
*.bak
*.tmp
*.swp
*~
Thumbs.db
.DS_Store

TestResults/
*.trx
*.coverage
*.coveragexml

EFMigrations.sql
